<hr>

<footer id="sticky-footer" class="py-4 bg-light text-50">


<footer class="page-footer mdb-color pt-4">

  <!-- Footer Links -->
  <!-- <div class="container text-center text-md-left"> -->

    <!-- Footer links -->
    <div class="row text-center mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Getting Started</h6>
        <p> We are here to make it easier for you to deal in the livestock business. </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Get Support</h6>
        <p>
          <a routerLink="/contact">Contact Us</a>
        </p>
        <p>
          <a routerLink="/about">FAQ</a>
        </p>
        <p>
          <a routerLink="/about">Privacy</a>
        </p>
        <p>
          <a routerLink="/about">Terms</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a routerLink="/about">About</a>
        </p>
        <p>
          <a routerLink="/about">Your Account</a>
        </p>
        <p>
          <a routerLink="/about">How to Join</a>
        </p>

        <p>
          <a routerLink="/about">Help</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          <i class="fa fa-home mr-3"></i> Kajiado, Kenya </p>
        <p>
          <i class="fa fa-envelope mr-3"></i> info@kalima.com</p>
        <p>
          <i class="fa fa-phone mr-3"></i> + 254 712 345 678</p>
        <p>
          <i class="fa fa-print mr-3"></i> + 254 20 123 456</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->


    <!-- Grid column -->
    <div class="d-flex justify-content-center">

    </div>
  <!-- </div> -->
  <!-- Footer Links -->

</footer>


  <div class="container text-center">
    <small>Copyright &copy; <strong> Kalima</strong></small>
  </div>
</footer>