<div class="spacer"></div>
<div class = "about">
<h1> About us </h1>


<div class="ui middle aligned stackable grid container">

		<div class="row">
			<div class="eight wide column">
				<h3 class="ui huge header">Who we are</h3>
				<p>Kalima is a  Farmers Co-operative Society based in Kajiado County. 
       The society was established to organize and promote the welfare and economic interests of its members. </p>
    
    <h3 class="ui huge header">What we do</h3>
    <p>Kalima is a  Farmers Co-operative Society based in Kajiado County. 
        The society was established to organize and promote the welfare and economic interests of its members. </p>			</div>
			<div class="six wide right floated column">
				<img src="https://img.freepik.com/free-vector/farm-animals-countryside-cartoon-poster_1284-10967.jpg?size=626&ext=jpg" class="ui medium centered fluid image" />
			</div>
		</div>
		<div class="row">
		<div class="six wide column">
				<img src="https://img.freepik.com/free-vector/farm-animals-countryside-cartoon-poster_1284-10967.jpg?size=626&ext=jpg" class="ui medium centered fluid image" />
			</div>
			<div class="eight wide right floated column">
				<h3 class="ui huge header">Wanna Join?</h3>
				<p>Kalima is a  Farmers Co-operative Society based in Kajiado County. 
                    The society was established to organize and promote the welfare and economic interests of its members. </p>
				<h3 class="ui huge header">Best Things</h3>
				<p>Kalima is a  Farmers Co-operative Society based in Kajiado County. 
                    The society was established to organize and promote the welfare and economic interests of its members. </p>		</div>			
		</div>
	</div>
	
<div class="spacer"></div>
<div class = "about">






</div>