<div class="spacer"></div>
<div class="products">
    <h1>Products</h1>

    <h5 >Our produce are sourced from farmers and go through all required checked</h5>




    <div class="container">

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top"
                    src= "https://thumbs.dreamstime.com/b/fresh-raw-beef-steak-white-background-roast-meat-seasoning-top-view-n-126419600.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Beef</h5>
                   
                    
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://www.kindpng.com/picc/m/15-151832_transparent-mutton-png-lamb-leg-white-background-png.png"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Mutton</h5>
                    
                    
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://t4.ftcdn.net/jpg/02/75/48/41/240_F_275484173_ojcFWFz4cc1PFLWXGgoTdWi1XK8ab91G.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Goat</h5>
                    
                    
                </div>
            </div>
            

            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chicken</h5>
                    
                    
                </div>
            </div>

        </div>
<!-- 
        <hr>

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chicken</h5>
                    
                    
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chicken</h5>
                    
                    
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chicken</h5>
                    
                    
                </div>
            </div>

            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chicken</h5>
                    
                    
                </div>
            </div>
        </div>


    </div> -->
    </div>
</div>
