<div class="spacer"></div>
<div class="products">


<h1>Products</h1>

    <div class="container">

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chicken</h5>
                    <p class="card-text">Our chicken are sourced from farmers and go through all required chsckes</p>
                    
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chicken</h5>
                    <p class="card-text">Our chicken are sourced from farmers and go through all required chsckes</p>
                    
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chicken</h5>
                    <p class="card-text">Our chicken are sourced from farmers and go through all required chsckes</p>
                    
                </div>
            </div>
        </div>

        <hr>

        <div class="card-deck">
            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chicken</h5>
                    <p class="card-text">Our chicken are sourced from farmers and go through all required chsckes</p>
                    
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chicken</h5>
                    <p class="card-text">Our chicken are sourced from farmers and go through all required chsckes</p>
                    
                </div>
            </div>
            <div class="card">
                <img class="card-img-top"
                    src="https://5.imimg.com/data5/JK/PW/MY-47677163/whole-chicken-meat--500x500.jpg"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Chicken</h5>
                    <p class="card-text">Our chicken are sourced from farmers and go through all required chsckes</p>
                    
                </div>
            </div>
        </div>


    </div>

</div>
